/ {
    aliases {
        /* Create a friendly name for our C code to reference */
        my-button = &button0;
        imu = &lsm6ds3tr_c;
        dmic-dev = &pdm0;
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            /* Port 0, Pin 3, Active Low, Internal Pull-Up enabled */
            gpios = <&gpio0 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "User Button on P0.03";
        };
    };
};


&pdm0 {
    pinctrl-0 = <&pdm0_default>;
    pinctrl-1 = <&pdm0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-source = "PCLK32M";
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_custom>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
    pwm_outputs {
        compatible = "pwm-leds";
        buzzer: pwm_buzzer {
            pwms = <&pwm0 0 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
            label = "PWM_BUZZER";
        };
    };

    aliases {
        buzzer-pwm = &buzzer;
    };
};

/* Configure the Pin Control (Assign pins to PDM peripheral) */
&pinctrl {
    pdm0_default: pdm0_default {
        group1 {
            psels = <NRF_PSEL(PDM_CLK, 1, 00)>, /* P0.26 */
                    <NRF_PSEL(PDM_DIN, 0, 16)>;  /* P0.27 */
        };
    };

    pdm0_sleep: pdm0_sleep {
        group1 {
            psels = <NRF_PSEL(PDM_CLK, 1, 00)>,
                    <NRF_PSEL(PDM_DIN, 0, 16)>;
            low-power-enable;
        };
    };

    /* State: Default (Active) */
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>, /* P0.04 for SDA */
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;  /* P0.05 for SCL */
            bias-pull-up; /* Enable internal pull-ups */
        };
    };

    /* State: Sleep (Low Power) */
    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;
            low-power-enable;
        };
    };

    pwm0_custom: pwm0_custom {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 29)>; /* Port 0, Pin 29 */
            nordic,drive-mode = <NRF_DRIVE_H0H1>;
        };
    };

    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 29)>;
            low-power-enable;
        };
    };
};

&i2c1 {
    status = "okay";
    compatible = "nordic,nrf-twim";

    /* Link to the pins defined above */
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";

    /* Set bus speed (Standard 100kHz or Fast 400kHz) */
    clock-frequency = <I2C_BITRATE_FAST>;

    /* Define your PCF8563 device here */
    pcf8563: pcf8563@51 {
        compatible = "i2c-device";
        reg = <0x51>;
        label = "PCF8563";
    };
};

